<section data-aos="fade" class="bg-light" id="contact">
    <div class="container-fluid wvu-z-index-content">
        <div class="row">
            <div class="col-xl-4 bg-dark wvu-bg-size-cover wvu-bg-position-center" style="background-image: url('./assets/images/contact.jpg')">

            </div>
            <div class="col-xl-8">
                <div class="px-4 py-5">
                    <div class="row">
                        <div class="col-md-5 me-auto">
                            <h2 class="h1 wvu-bar wvu-bar--bottom">Contact Me</h2>    
                            <p class="helvetica-neue-light fs-4 mb-3 pr-md-3">
                                Don’t let electrical problems linger any longer. Contact Rotruck Electric today to schedule an appointment.
                            </p>          
                            <div class="d-flex mb-2 mt-4">
                            <div class="h3">
                                <span class="fa-solid fa-location-pin" aria-hidden="true"></span>
                            </div>
                            <div class="ms-2">              
                                <h2 class="h5">At the Office</h2>
                                <address>
                                1345 Market St, Suite 900
                                <br> Morgantown, WV 26505
                                </address>
                            </div>
                            </div>          
                            <div class="d-flex mb-2">
                            <div class="h3">
                                <span class="fa-solid fa-phone" aria-hidden="true"></span>
                            </div>
                            <div class="ms-2">              
                                <h2 class="h5">By Phone</h2>
                                <address>
                                <a href="tel:9999999999">(304) 293-1234</a>
                                </address>
                            </div>
                            </div>       
                            <div class="d-flex mb-2">
                            <div class="h3">
                                <span class="fa-solid fa-envelope" aria-hidden="true"></span>
                            </div>
                            <div class="ms-2">              
                                <h2 class="h5">By Email</h2>
                                <address>
                                <a href="mailto:#">email@mail.wvu.edu</a>
                                </address>
                            </div>
                            </div>    
                        </div>
                        <div class="col-md-6 bg-white text-wvu-accent--blue-dark shadow-lg">        
                            <div class="p-3 p-lg-4">
                                <h2>Service Request</h2>       
                                <form name="contact" method="POST" data-netlify="true">
                                    <div class="mb-2">
                                        <label for="exampleInputEmail1" class="form-label">Your Name</label>
                                        <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                    </div>
                                    <div class="mb-2">
                                        <label for="exampleInputEmail1" class="form-label">Your Email</label>
                                        <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                    </div>
                                    <div class="mb-3">
                                        <label>Message:</label>
                                        <textarea name="message" class="form-control w-100" rows="5"></textarea>
                                    </div>
                                    <p class="mb-0">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>