<section data-aos="fade" id="features" aria-labelledby="features-label" class=" py-5 text-center">  
    <div class="container wvu-z-index-content">         
        <div class="row justify-content-left mb-lg-n4"> 
            {%- for feature in home.features -%}
                <div class="mb-4 col-lg-6 col-xl-4 text-center text-lg-start">            
                    <div class="row">
                        <div class="col-lg-3">                  
                            <div class="mb-2 d-flex justify-items-center">
                                <div class="bg-yellow text-white h1 rounded-circle p-4 d-flex mx-auto mx-lg-0 ms-lg-auto align-items-center justify-content-center">
                                    <span class="fa-solid fa-{{ feature.icon }} position-absolute"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                        <h3 class="card-title mb-2" id="">
                            {{ feature.feature }}
                        </h3>
                        <p class="">{{ feature.description | strip }}</p>                             
                        </div>
                    </div>
                </div>
            {%- endfor -%}
        </div>
    </div>
</section>