<footer class="py-5 bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img src="{{ site.url }}/assets/images/re-logo-2.svg" alt="Rotruck Electric Logo" height="40px">
                <p class="small mt-2">
                    &copy; 2023 Rotruck Electric.
                </p>
            </div>
            <div class="col-lg-7 ms-lg-auto">
                <div class="row">
                    <div class="col-md-5 col-lg-4">
                        <h2 class="text-uppercase fs-6 text-yellow wvu-bar small">Menu</h2>
                        <ul class="list-unstyled small">
                            <li><a class="text-decoration-none" href="{{ site.url }}">Home</a></li>
                            <li><a class="text-decoration-none" href="{{ site.url }}/#services">Services</a></li>
                            <li><a class="text-decoration-none" href="{{ site.url }}/#contact">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-5 col-lg-4">
                        <h2 class="text-uppercase fs-6 text-yellow wvu-bar small">Contact Info</h2>
                        <p class="small">
                            <span class="fa-solid fa-phone"></span> <a class="text-decoration-none" href="tel:3041234567">(304) 123-4567</a>
                            <br>
                            <span class="fa-solid fa-envelope"></span> <a class="text-decoration-none" href="mailto:email@mail.wvu.edu">email@rotruckelectric.com</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>