<section data-aos="fade" id="services" aria-labelledby="page-collection-vertical-icons-1-label" class="mt-n3">  
    <div class="container-fluid wvu-z-index-content">
        <h2 class="text-uppercase bg-yellow pt-2 pe-3 pb-2 ps-4 ms-n3 mb-n4 wvu-z-index-max d-inline-block">Services</h2>
        <div class="row">
            <div class="col">
                <div class="bg-light-blue text-white py-5 px-3 h-100 wvu-bg-blend-mode-luminosity" style="background-image: url('./assets/images/residential.jpg')">
                    <div class="wvu-z-index-content">
                        <h3 class="h1 wvu-bar wvu-bar--bottom wvu-bar--white">Residential</h3>
                        <p class="fs-5">No matter the size or complexity of the job, I offer a comprehensive range of residential electrical services tailored to meet your specific needs. My services include <strong>electrical inspections</strong>, <strong>lighting installations</strong>, <strong>outlet repairs</strong>, <strong>panel upgrades</strong>, <strong>circuit breaker replacements</strong>, electrical <strong>troubleshooting</strong>, and much more.</p>
                        <a class="btn btn-outline-white" href="">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="bg-pink text-white py-5 px-3 h-100 wvu-bg-blend-mode-luminosity" style="background-image: url('./assets/images/commercial.jpg')">
                    <div class="wvu-z-index-content">
                        <h3 class="h1 wvu-bar wvu-bar--bottom wvu-bar--white">Commercial</h3>
                        <p class="fs-5">I offer a wide range of commercial electrical services to address all your needs. Whether you require electrical <strong>installations for new constructions</strong>, electrical <strong>system upgrades</strong>, <strong>lighting design</strong> and <strong>retrofitting</strong>, electrical <strong>troubleshooting</strong>, or ongoing <strong>maintenance</strong>, I have the expertise and resources to deliver top-notch solutions.</p>
                        <a class="btn btn-outline-white" href="">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>