<section data-aos="fade" id="testimonials-1" aria-labelledby="testimonials-1-label" class=" py-5">
    <div class="position-absolute ">          
        <h2 id="testimonials-1-label" class="h3 text-wvu-blue text-uppercase ms-1" style="writing-mode: vertical-rl;text-orientation: mixed;">Testimonials</h2>
    </div>  
    <div class="container wvu-z-index-content">    
        <div class="row justify-content-left mb-md-n4">          
            <div class="col-md-6 col-lg-4 mb-3">
            <div class="">
                <blockquote class="wvu-quote h4 mb-3 mx-0 ps-2 ms-n2 pe-2">
                <p>I recently had the pleasure of working with Ethan for an electrical issue at my home, and I must say, he is absolutely outstanding. From start to finish, his level of professionalism and expertise left a lasting impression on me.</p>
                </blockquote>              
                <div class="row">                                
                    <div class="col text-start">
                        <div class="mb-2">
                        <h3 class="card-title d-block h5 mb-0 text-decoration-none text-wvu-blue" id="lorem-ipsum-dolor-sit-amet-consectetur-testimonials-1-139968">Eric Templeton</h3>                      
                        <p class="helvetica-neue-light">Morgantown Business Owner</p>                  
                        </div>                                 
                    </div>
                </div>
            </div>
            </div>          
            <div class="col-md-6 col-lg-4 mb-3">
            <div class="">
                <blockquote class="wvu-quote h4 mb-3 mx-0 ps-2 ms-n2 pe-2">
                <p>When I first contacted Ethan, his response was prompt and courteous. He listened attentively to my problem and provided helpful advice over the phone. I was impressed by his willingness to assist even before setting foot in my home.</p>
                </blockquote>              
                <div class="row">                                
                    <div class="col text-start">
                        <div class="mb-2">
                        <h3 class="card-title d-block h5 mb-0 text-decoration-none text-wvu-blue" id="adipiscing-elit-sed-testimonials-1-139980">Bill Thompson</h3>                      
                        <p class="helvetica-neue-light">Morgantown Resident</p>                  
                        </div>                                  
                    </div>
                </div>
            </div>
            </div>          
            <div class="col-md-6 col-lg-4 mb-3">
            <div class="">
                <blockquote class="wvu-quote h4 mb-3 mx-0 ps-2 ms-n2 pe-2">
                <p>Once Ethan arrived, I was immediately put at ease by his friendly demeanor and professionalism. Ethan thoroughly assessed the issue and took the time to explain the necessary repairs.</p>
                </blockquote>              
                <div class="row">                                
                    <div class="col text-start">
                        <div class="mb-2">
                        <h3 class="card-title d-block h5 mb-0 text-decoration-none text-wvu-blue" id="do-eiusmod-tempor-incididunt-ut-testimonials-1-140020">Jackie Smith</h3>                      
                        <p class="helvetica-neue-light">Fairmont Resident</p>                  
                        </div>                                 
                    </div>
                </div>
            </div>
            </div>      
        </div>
    </div>
</section>